<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM0VENDQWNtZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFSTVE4d0RRWURWUVFEREFaRVpYWnAKWTJVd0lCY05N
	alV3T0RBM01ESTFPREl6V2hnUE5UTTNNVEExTVRnd01qVTRNak5hTUJFeER6QU5CZ05W
	QkFNTQpCa1JsZG1salpUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FR
	b0NnZ0VCQUtzV3JVSmUrZENtCmxWWlFHUGlqanRmR3h2V3BFWDdabktlTG91TU84bFRv
	TVFaR05rN2dSSk5UZ3A4K2JRYkJzSlNlQWtBWkhwaDAKY3FUZStxcUVkanpzczBRSHRC
	aU5EanpwU3FNN21SQ1d5UXBMVm5uR3E1ek1WQVI4Y0U5MGE2WFpSNnhpMUkreQpSeG9q
	L0d4dVpPNjZFMzJtcG1JdVlCU3pvZWNSbWNvajRmNnlBRkVXdUc3M1l1QVJnRlFDL3gr
	M0w0VCt3KzR3Cnk5UEh1SHc5UWIxdEhDYVJnVmhrZGFrMkZwTHcybkVIa0RWZEo5VEpt
	OGtrV1ltTG5tVXF3emZGUXVvUjVmeEQKaW8vQm5NQzh5U1BVMmZFd080TkEvejROdUV4
	TjBmZ2FNR2lJVWVpdzNwOE0vMCsxUFpzMkE3dEh4NGFBcVZMcwo3SVFuZTN5eXl2a0NB
	d0VBQWFOQ01FQXdIUVlEVlIwT0JCWUVGR3VpdlVhQTNLcjFlSUl4bXFKbXdzVW94N0JB
	Ck1BOEdBMVVkRXdFQi93UUZNQU1CQWY4d0RnWURWUjBQQVFIL0JBUURBZ0VHTUEwR0NT
	cUdTSWIzRFFFQkN3VUEKQTRJQkFRQTUxcjF3ZUZ4T3lBVkltM2tIRkRqczZWVmdtajU0
	bGVoT1JSR2hDRXNjQUtQYnc0S3NxbFVyQzhZVgp1a0FIcjlNRkE1OUl6ajB0L1BhV2Zz
	M0lhVW5RMVNFclA2aXhmREdyQ0N5WEVMSkxTWkRCTzVmdVdQbzBjMmh5CndOMGt6QkN6
	Q3IrMHIyYU40NzNHT0VPRGJic0dEMXVsYktwWnlmRk1Cb0xmTTFQT2NTOGxMOU9WVjlY
	NWdSeTQKdVVQanQ5SVN2ei9JbXJkL296akRmR3ZJWEU3UDlJMTl2aWtsWnNBWXozNmRH
	MzlmNmduQVZWSGR4QzFOSnh1dgp1TGhwdzV2L3lUSUt0elFDM090S1U3bk8yb2I1Z09x
	eXBPcERPNXozZDc0aEdLWXBNV1JKQmlDZnVqR09ST29KCm1jZ01GYVJkbzNVcEhRdSsz
	eXZJaUF5VC9YS3kKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRQ215eC9lL2R6ZHpsWHYKdWV1TFF2VEJV
	U0RJRVFPaENWbHZubCtZcUpPV1VzbjIvM0ZlVlc0SStuM3JHd09vd3M2TzFQT1EzZW5C
	M3hmMQpLaWFaL040UUJVY1ZubjBxNVBhaC9iZlJySDQ2VjhKcUM0WlcxWnIwYldncFlC
	NThwTmdzdEV4V2FjdkQ2eWdHClFLU29mbnBmektEVTJpV1E0aDN0RGJqR2hUNDM2Q2Rj
	ZEREcmZBMFQwL3FDUllRZDMxMGRzT2R4VHFCQkY0MjEKa2JuVjhlTzJUaHhSRFlOZWhF
	L3dSZ0ljZFRWL0N4LzNDM2poQzVXb1dMTGttenZ4S3hteDJ2VFUzbWdtNDlOSApVNkNi
	Q0FaSnFMQW8rSllmc1BramJsaGRBblVBM2QrUmdzOXdHVXVKR1UwdFZ4L2VVVEtUVTRx
	WlVIdUtpQUJmCndxVVFaZVFkQWdNQkFBRUNnZ0VBUThkM2hCNlZpbTAyN3R3V285anBy
	VVZTbFBxVkJ2UE5yRlluY3RuT1g5LzAKd3JLN1Z5SlFQTVhPTmFRY3NJKzVjTUdJMk8z
	VStEdTRlS0JRWDNNcXFrZjZ3d1pNeHdtVVQrL1NxeG4xa2EvbwpDVC8xcjRQT0hGWDVa
	aGJ4VEtXUVUxcFJTeXhpNlpLK0NReHIzU3pJZmZXaHhkMkFOb2dzc1JCS2JpSG5Uc0FZ
	CmdhSEFSRGNJOTZDSmtIM2UyOHRCREpJa3EzdFVsZjcvWGMvbE1ITU9PNWZDUTA0YmR6
	M0Z4dkMwMktPU2JLak8KNjFFM2RqNnJGRzZHbm9wVGdBS1U0ZDZORnZkY1hkWEpaVHRI
	dkhONVdoWHdMa3RqdmFWbTlBY1hUaDhyeFlCTQpaSGNLWUlUUXlrM0tjd0xraXl1M3Fk
	VVlpVnZ6L0d3SlMrT2gxSkQvQVFLQmdRREo2U0J1RUsvOXphWlJqZjBMClk1UVltb2JF
	NkhJTlNWY3dDd3BLYTNHeUJHeGNlQ1NDaHNyMHNqemFxMmgzMFZYWThpR2t6K1RHQlRw
	TWFJMkcKSHJKcVV1R2RxVjFtZUJVOHJqNWdOTWVGSVZvSUltTHFST2x4M3Q4RmR0aUN0
	T0c5ejd3RkJCa01yYnlvWkwraApjbEI3ODFiZXlteFMvZnJhc0tpelBSeEd4UUtCZ1FE
	VGViQXRPaFUzOTVKMjRlalFkRjhqWHNLZG1POEhpUTdVClJzd0FTdERNUnRzN3g5VzJs
	VEdVYVIxRDlXUCtNZ1dhZmk3dlMzV3luYmhtMGdURkxnQTJjUU14bHZlaGxiZUcKa3VM
	VmxvT295TTNuYlhGSExyNUJsU3Q1d3FhVlI2T3R2dm1oK2dyL3V3QXFDeUxEa3RXeTlS
	SEx2SXUvdXhOYwpEWkJrZXpXOWVRS0JnQzczd09oNWowYmQ2THQ5NlFnV01PUU1SaDlW
	NXZuNlBvTFpmcHBUSmc2QUF1ajd0WnA3CldvalRVVjZZa3VPVVdZRHV5aTY1Z1lFaXhD
	MzBBRC9ic2lzVGZwSWJUTFBDYVVaRlRoTTVFOVIvTHA5SHlIU3cKZFJGZEE4b1VuRWJE
	WnVPdGlCSXVvdGtWTFJhSzRSemdKNks5dDA1NkRmcThRL2ROTXVFRzdTWDFBb0dBQnhV
	MQpURjU4cFhJNlNwY0lhQ3J0b002a3NBaVdRT2RiUXNyWVBFNUZMZ0pWaDJ3TEFXRi8x
	cHVxcWtNR3hWWEJrRW9YCm9sWWhyQWpTUzBkUGQ1Y3gxS0QyWFd2VUFXcDFTaUdUVFZv
	TU1OUUE2WFpsNjk5cDZlSm9JVnplblhOWHpSTHYKWTNodmM5ODhneXY2VHhpVTViaUZq
	eEJTa2VwZkhKOHJyZUhlaStrQ2dZQUY5dlZVMjhVTS9NdEpZV2RZUlhWSApoeXM5UUJL
	QXBPZThnV2RZNlUzb29LaVJDTm84eEdibmZFQU5Wa2s2OFA4V3N0YWFVakE3WnRndDVw
	UTMxMDNSCnR2YW8zcStXdHNZbzFqLzVFYmZHaGtULzhETWRuejhrNHI4eFphZ1hjUUtL
	YkZieDVkTVV5UjluUE10alZSNGQKNWZtb0xGNnR2RTlzSlVNYmljTE1sUT09Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN2ekNDQWFlZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUNBWERUSTFNRGd3TnpBeU5UZ3kKTTFvWUR6VXpO
	ekV3TlRFNE1ESTFPREl6V2pBQU1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThB
	TUlJQgpDZ0tDQVFFQXBzc2YzdjNjM2M1Vjc3bnJpMEwwd1ZFZ3lCRURvUWxaYjU1Zm1L
	aVRsbExKOXY5eFhsVnVDUHA5CjZ4c0RxTUxPanRUemtOM3B3ZDhYOVNvbW1memVFQVZI
	Rlo1OUt1VDJvZjIzMGF4K09sZkNhZ3VHVnRXYTlHMW8KS1dBZWZLVFlMTFJNVm1uTHcr
	c29Ca0NrcUg1Nlg4eWcxTm9sa09JZDdRMjR4b1UrTitnblhIUXc2M3dORTlQNgpna1dF
	SGQ5ZEhiRG5jVTZnUVJlTnRaRzUxZkhqdGs0Y1VRMkRYb1JQOEVZQ0hIVTFmd3NmOXd0
	NDRRdVZxRml5CjVKczc4U3Nac2RyMDFONW9KdVBUUjFPZ213Z0dTYWl3S1BpV0g3RDVJ
	MjVZWFFKMUFOM2ZrWUxQY0JsTGlSbE4KTFZjZjNsRXlrMU9LbVZCN2lvZ0FYOEtsRUdY
	a0hRSURBUUFCbzBJd1FEQWRCZ05WSFE0RUZnUVUwRENOVnBMNApRQ3o2cnp0QnZIeU1u
	VkdFOTlFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBT0JnTlZIUThCQWY4RUJBTUNBUVl3
	CkRRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFDN3liUG1tekQvQVlnTndYMkx4OE5rYjQ3
	Zm5SRWRTamZ1N1p4cW0KemFwT1g2UE9pR3piNWd2bHY3ekkwQW5uRSs0QmxtMlpQQkRJ
	ZDMzbWtHaklPWFNseDNCNU12NkhVZitYS3ltTwppSDU3UzhEVlZLK0s2dEpLNW1xQnhW
	cTZYWGlpa3lEQ2w0UktzYmtEV2UxQ0Y1ZTJrb1l1Q21BMUJOVmY4UGloClc5aUpiK2N6
	Njdka0d4Mmd2NmxvaElVSXA0Q1pGS1RuRnVqSno4cTkzUFVXUzY1djMyd200OHF6azlu
	REs5TXgKdmhMbzk3SVp6dDJoQUpmRWVXbWE4Z1ZlSmU3dTN6cTQ3SmM1UC9HdDh6TFM4
	ZE9ac2FybTRIczRhZTJtSUsycApPaUtMOGIzM0t4WXYxdHFSSFI4V2VpaE9OZVYrcHIx
	Tk1WZGtoSGcyK2JsUGlITT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRQ215eC9lL2R6ZHpsWHYKdWV1TFF2VEJV
	U0RJRVFPaENWbHZubCtZcUpPV1VzbjIvM0ZlVlc0SStuM3JHd09vd3M2TzFQT1EzZW5C
	M3hmMQpLaWFaL040UUJVY1ZubjBxNVBhaC9iZlJySDQ2VjhKcUM0WlcxWnIwYldncFlC
	NThwTmdzdEV4V2FjdkQ2eWdHClFLU29mbnBmektEVTJpV1E0aDN0RGJqR2hUNDM2Q2Rj
	ZEREcmZBMFQwL3FDUllRZDMxMGRzT2R4VHFCQkY0MjEKa2JuVjhlTzJUaHhSRFlOZWhF
	L3dSZ0ljZFRWL0N4LzNDM2poQzVXb1dMTGttenZ4S3hteDJ2VFUzbWdtNDlOSApVNkNi
	Q0FaSnFMQW8rSllmc1BramJsaGRBblVBM2QrUmdzOXdHVXVKR1UwdFZ4L2VVVEtUVTRx
	WlVIdUtpQUJmCndxVVFaZVFkQWdNQkFBRUNnZ0VBUThkM2hCNlZpbTAyN3R3V285anBy
	VVZTbFBxVkJ2UE5yRlluY3RuT1g5LzAKd3JLN1Z5SlFQTVhPTmFRY3NJKzVjTUdJMk8z
	VStEdTRlS0JRWDNNcXFrZjZ3d1pNeHdtVVQrL1NxeG4xa2EvbwpDVC8xcjRQT0hGWDVa
	aGJ4VEtXUVUxcFJTeXhpNlpLK0NReHIzU3pJZmZXaHhkMkFOb2dzc1JCS2JpSG5Uc0FZ
	CmdhSEFSRGNJOTZDSmtIM2UyOHRCREpJa3EzdFVsZjcvWGMvbE1ITU9PNWZDUTA0YmR6
	M0Z4dkMwMktPU2JLak8KNjFFM2RqNnJGRzZHbm9wVGdBS1U0ZDZORnZkY1hkWEpaVHRI
	dkhONVdoWHdMa3RqdmFWbTlBY1hUaDhyeFlCTQpaSGNLWUlUUXlrM0tjd0xraXl1M3Fk
	VVlpVnZ6L0d3SlMrT2gxSkQvQVFLQmdRREo2U0J1RUsvOXphWlJqZjBMClk1UVltb2JF
	NkhJTlNWY3dDd3BLYTNHeUJHeGNlQ1NDaHNyMHNqemFxMmgzMFZYWThpR2t6K1RHQlRw
	TWFJMkcKSHJKcVV1R2RxVjFtZUJVOHJqNWdOTWVGSVZvSUltTHFST2x4M3Q4RmR0aUN0
	T0c5ejd3RkJCa01yYnlvWkwraApjbEI3ODFiZXlteFMvZnJhc0tpelBSeEd4UUtCZ1FE
	VGViQXRPaFUzOTVKMjRlalFkRjhqWHNLZG1POEhpUTdVClJzd0FTdERNUnRzN3g5VzJs
	VEdVYVIxRDlXUCtNZ1dhZmk3dlMzV3luYmhtMGdURkxnQTJjUU14bHZlaGxiZUcKa3VM
	VmxvT295TTNuYlhGSExyNUJsU3Q1d3FhVlI2T3R2dm1oK2dyL3V3QXFDeUxEa3RXeTlS
	SEx2SXUvdXhOYwpEWkJrZXpXOWVRS0JnQzczd09oNWowYmQ2THQ5NlFnV01PUU1SaDlW
	NXZuNlBvTFpmcHBUSmc2QUF1ajd0WnA3CldvalRVVjZZa3VPVVdZRHV5aTY1Z1lFaXhD
	MzBBRC9ic2lzVGZwSWJUTFBDYVVaRlRoTTVFOVIvTHA5SHlIU3cKZFJGZEE4b1VuRWJE
	WnVPdGlCSXVvdGtWTFJhSzRSemdKNks5dDA1NkRmcThRL2ROTXVFRzdTWDFBb0dBQnhV
	MQpURjU4cFhJNlNwY0lhQ3J0b002a3NBaVdRT2RiUXNyWVBFNUZMZ0pWaDJ3TEFXRi8x
	cHVxcWtNR3hWWEJrRW9YCm9sWWhyQWpTUzBkUGQ1Y3gxS0QyWFd2VUFXcDFTaUdUVFZv
	TU1OUUE2WFpsNjk5cDZlSm9JVnplblhOWHpSTHYKWTNodmM5ODhneXY2VHhpVTViaUZq
	eEJTa2VwZkhKOHJyZUhlaStrQ2dZQUY5dlZVMjhVTS9NdEpZV2RZUlhWSApoeXM5UUJL
	QXBPZThnV2RZNlUzb29LaVJDTm84eEdibmZFQU5Wa2s2OFA4V3N0YWFVakE3WnRndDVw
	UTMxMDNSCnR2YW8zcStXdHNZbzFqLzVFYmZHaGtULzhETWRuejhrNHI4eFphZ1hjUUtL
	YkZieDVkTVV5UjluUE10alZSNGQKNWZtb0xGNnR2RTlzSlVNYmljTE1sUT09Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN2ekNDQWFlZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUNBWERUSTFNRGd3TnpBeU5UZ3kKTTFvWUR6VXpO
	ekV3TlRFNE1ESTFPREl6V2pBQU1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThB
	TUlJQgpDZ0tDQVFFQXBzc2YzdjNjM2M1Vjc3bnJpMEwwd1ZFZ3lCRURvUWxaYjU1Zm1L
	aVRsbExKOXY5eFhsVnVDUHA5CjZ4c0RxTUxPanRUemtOM3B3ZDhYOVNvbW1memVFQVZI
	Rlo1OUt1VDJvZjIzMGF4K09sZkNhZ3VHVnRXYTlHMW8KS1dBZWZLVFlMTFJNVm1uTHcr
	c29Ca0NrcUg1Nlg4eWcxTm9sa09JZDdRMjR4b1UrTitnblhIUXc2M3dORTlQNgpna1dF
	SGQ5ZEhiRG5jVTZnUVJlTnRaRzUxZkhqdGs0Y1VRMkRYb1JQOEVZQ0hIVTFmd3NmOXd0
	NDRRdVZxRml5CjVKczc4U3Nac2RyMDFONW9KdVBUUjFPZ213Z0dTYWl3S1BpV0g3RDVJ
	MjVZWFFKMUFOM2ZrWUxQY0JsTGlSbE4KTFZjZjNsRXlrMU9LbVZCN2lvZ0FYOEtsRUdY
	a0hRSURBUUFCbzBJd1FEQWRCZ05WSFE0RUZnUVUwRENOVnBMNApRQ3o2cnp0QnZIeU1u
	VkdFOTlFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBT0JnTlZIUThCQWY4RUJBTUNBUVl3
	CkRRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFDN3liUG1tekQvQVlnTndYMkx4OE5rYjQ3
	Zm5SRWRTamZ1N1p4cW0KemFwT1g2UE9pR3piNWd2bHY3ekkwQW5uRSs0QmxtMlpQQkRJ
	ZDMzbWtHaklPWFNseDNCNU12NkhVZitYS3ltTwppSDU3UzhEVlZLK0s2dEpLNW1xQnhW
	cTZYWGlpa3lEQ2w0UktzYmtEV2UxQ0Y1ZTJrb1l1Q21BMUJOVmY4UGloClc5aUpiK2N6
	Njdka0d4Mmd2NmxvaElVSXA0Q1pGS1RuRnVqSno4cTkzUFVXUzY1djMyd200OHF6azlu
	REs5TXgKdmhMbzk3SVp6dDJoQUpmRWVXbWE4Z1ZlSmU3dTN6cTQ3SmM1UC9HdDh6TFM4
	ZE9ac2FybTRIczRhZTJtSUsycApPaUtMOGIzM0t4WXYxdHFSSFI4V2VpaE9OZVYrcHIx
	Tk1WZGtoSGcyK2JsUGlITT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>SystemBUID</key>
	<string>F1055131338466120233277924</string>
	<key>HostID</key>
	<string>6E79919A-5E0F-45A9-8037-F8ED5DDD5EC1</string>
	<key>EscrowBag</key>
	<data>
	imDCBJk5X1dsSyFESv9n0LDzDp2vG5cvOrnVDjxqkEg=
	</data>
	<key>WiFiMACAddress</key>
	<string>70:31:7f:ae:8a:af</string>
	<key>UDID</key>
	<string>00008120-0006109201DB401E</string>
</dict>
</plist>